<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
	<link rel="stylesheet" href="path/to/intlTelInput.css">
  </head>
  <body>
    <%- include('../partials/nav') %>

    
	<div class="form mb-3">

      <h3 class="contentBoxTop mb-3">New User</h3>

      <form action="/users" method="post">

        <div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="firstname" name="firstname" placeholder="First Name*" value="<%= user.firstname %>" class="form-control <%= (errors.name)?'is-invalid':'' %>">
            <% if(errors.name){ %>
              <span class="invalid-feedback"><%= errors.name.message %></span>
            <% } %>
          </div>
        </div>
		
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="initial" name="initial" placeholder="Initial" value="<%= user.initial %>" class="form-control <%= (errors.initial)?'is-invalid':'' %>">
            <% if(errors.initial){ %>
              <span class="invalid-feedback"><%= errors.initial.message %></span>
            <% } %>
          </div>
        </div>
		
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="lastname" name="lastname" placeholder="Last Name*" value="<%= user.lastname %>" class="form-control <%= (errors.name)?'is-invalid':'' %>">
            <% if(errors.name){ %>
              <span class="invalid-feedback"><%= errors.name.message %></span>
            <% } %>
          </div>
        </div>
		
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="username" name="username" placeholder="Username*" value="<%= user.username %>" class="form-control <%= (errors.username)?'is-invalid':'' %>">
            <% if(errors.username){ %>
              <span class="invalid-feedback"><%= errors.username.message %></span>
            <% } %>
          </div>
        </div>
		
        <div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="email" name="email" placeholder="Email" value="<%= user.email %>" class="form-control <%= (errors.email)?'is-invalid':'' %>">
            <% if(errors.email){ %>
              <span class="invalid-feedback"><%= errors.email.message %></span>
            <% } %>
          </div>
        </div>
		
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="phonenumber" name="phonenumber" placeholder="Phone Number*" value="" class="form-control <%= (errors.phonenumber)?'is-invalid':'' %>">
            <% if(errors.phonenumber){ %>
              <span class="invalid-feedback"><%= errors.phonenumber.message %></span>
            <% } %>
          </div>
        </div>
		
        <div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="password" id="password" name="password" placeholder="Password*" value="" class="form-control <%= (errors.password)?'is-invalid':'' %>">
            <% if(errors.password){ %>
              <span class="invalid-feedback"><%= errors.password.message %></span>
            <% } %>
          </div>
        </div>
		
        <div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="Password Confirmation*" value="" class="form-control <%= (errors.passwordConfirmation)?'is-invalid':'' %>">
            <% if(errors.passwordConfirmation){ %>
              <span class="invalid-feedback"><%= errors.passwordConfirmation.message %></span>
            <% } %>
          </div>
        </div>
		
        <div class="row justify-content-center">
          <div class="col-sm-3 ">
            <select class="custom-select" id="inlineFormCustomSelectPref">
              <option value="">I am..*</option>
              <option value="1">VVE Board</option>
              <option value="2">Apartment Owner</option>
              <option value="3">Supplier</option>
            </select>
          </div>
        </div>
	


<!--Dependant on option value, based on master --!>
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="boardactivationcode" name="boardactivationcode" placeholder="BM Activation Code*" value="" class="form-control <%= (errors.activationcode)?'is-invalid':'' %>">
            <% if(errors.activationcode){ %>
              <span class="invalid-feedback"><%= errors.activationcode.message %></span>
            <% } %>
          </div>
        </div>
		
		<!-- gm refering to general member--!>
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="gmactivationcode" name="gmactivationcode" placeholder="GM Activation Code*" value="" class="form-control <%= (errors.activationcode)?'is-invalid':'' %>">
            <% if(errors.activationcode){ %>
              <span class="invalid-feedback"><%= errors.activationcode.message %></span>
            <% } %>
          </div>
        </div>
		
		
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="kvknumber" name="kvknumber" placeholder="KvK number*" value="" class="form-control <%= (errors.kvknumber)?'is-invalid':'' %>">
            <% if(errors.kvknumber){ %>
              <span class="invalid-feedback"><%= errors.kvknumber.message %></span>
            <% } %>
          </div>
        </div>
		
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="streetname" name="streetname" placeholder="Streetname*" value="" class="form-control <%= (errors.streetname)?'is-invalid':'' %>">
            <% if(errors.streetname){ %>
              <span class="invalid-feedback"><%= errors.streetname.message %></span>
            <% } %>
          </div>
        </div>
		
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="housenumber" name="housenumber" placeholder="House number*" value="" class="form-control <%= (errors.housenumber)?'is-invalid':'' %>">
            <% if(errors.housenumber){ %>
              <span class="invalid-feedback"><%= errors.housenumber.message %></span>
            <% } %>
          </div>
        </div>
		
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="addition" name="addition" placeholder="Addition" value="" class="form-control <%= (errors.addition)?'is-invalid':'' %>">
            <% if(errors.addition){ %>
              <span class="invalid-feedback"><%= errors.addition.message %></span>
            <% } %>
          </div>
        </div>
		
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="postalcode" name="postalcode" placeholder="Postal code*" value="" class="form-control <%= (errors.postalcode)?'is-invalid':'' %>">
            <% if(errors.postalcode){ %>
              <span class="invalid-feedback"><%= errors.postalcode.message %></span>
            <% } %>
          </div>
        </div>
		
		<div class="row justify-content-center">
          <div class="col-sm-3">
            <input type="text" id="city" name="city" placeholder="City*" value="" class="form-control <%= (errors.city)?'is-invalid':'' %>">
            <% if(errors.city){ %>
              <span class="invalid-feedback"><%= errors.city.message %></span>
            <% } %>
          </div>
        </div>


		
				
		
<!--End of dependent fields--!>		
        <p>
          <small>*Required</small>
        </p>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
        
      </form>

    </div>
	<script>
	$("#inlineFormCustomSelectPref").change(function() {
	  if ($(this).val() == "1") {
		$('#boardactivationcode').show();
		$('#boardactivationcode').attr('required', '');
		$('#boardactivationcode').attr('data-error', 'This field is required.');
	  } else {
		$('#boardactivationcode').hide();
		$('#boardactivationcode').removeAttr('required');
		$('#boardactivationcode').removeAttr('data-error');
	  }
	  
	  if ($(this).val() == "2") {
		$('#gmactivationcode').show();
		$('#gmactivationcode').attr('required', '');
		$('#gmactivationcode').attr('data-error', 'This field is required.');
	  } else {
		$('#gmactivationcode').hide();
		$('#gmactivationcode').removeAttr('required');
		$('#gmactivationcode').removeAttr('data-error');
	  }
	  
	  
	  if ($(this).val() == "3") {
		$('#streetname').show();
		$('#streetname').attr('required', '');
		$('#streetname').attr('data-error', 'This field is required.');
		
		$('#kvknumber').show();
		$('#kvknumber').attr('required', '');
		$('#kvknumber').attr('data-error', 'This field is required.');
		
		$('#addition').show();
		$('#addition').attr('required', '');
		$('#addition').attr('data-error', 'This field is required.');
		
		$('#housenumber').show();
		$('#housenumber').attr('required', '');
		$('#housenumber').attr('data-error', 'This field is required.');
		
		$('#city').show();
		$('#city').attr('required', '');
		$('#city').attr('data-error', 'This field is required.');
		
		$('#postalcode').show();
		$('#postalcode').attr('required', '');
		$('#postalcode').attr('data-error', 'This field is required.');
	  } else {
		$('#streetname').hide();
		$('#streetname').removeAttr('required');
		$('#streetname').removeAttr('data-error');
		
		$('#addition').hide();
		$('#addition').removeAttr('required');
		$('#addition').removeAttr('data-error');
		
		$('#housenumber').hide();
		$('#housenumber').removeAttr('required');
		$('#housenumber').removeAttr('data-error');
		
		$('#kvknumber').hide();
		$('#kvknumber').removeAttr('required');
		$('#kvknumber').removeAttr('data-error');
		
		$('#city').hide();
		$('#city').removeAttr('required');
		$('#city').removeAttr('data-error');
		
		$('#postalcode').hide();
		$('#postalcode').removeAttr('required');
		$('#postalcode').removeAttr('data-error');
	  }
		   
	});
	$("#inlineFormCustomSelectPref").trigger("change");

	</script>
  </body>
</html>
